$main-color: skyblue;
body {
    background-color: $main-color;
}

// .root--authed .post-list__login-btn {
//     display: none;
// }
.post-list {
    &__login-btn {
        .root--authed & {
            display: none;
        }
    }
    &__logout-btn,
    &__new-post-btn {
        display: none;
        .root--authed & {
            display: inline-block;
        }
    }
}

.post-content {
    &__btn-modify,
    &__btn-delete {
        display: none;
        .root--authed & {
            display: inline-block;
        }
    }
}

// .post-list__logout-btn {
//     display: none;
// }
// .root--authed .post-list__logout-btn {
//     display: inline-block;
// }
.post-form {
    &__title {
        display: block;
        margin-bottom: 10px;
        width: 100px;
    }
    &__body {
        width: 100px;
        display: block;
    }
}

.root {
    &--loading {
        &::after {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: 'Loading ....';
            background: rgba(0, 0, 0, 0.6);
            color: white;
        }
    }
}